.container {
	margin: 0 auto;
	max-width: 500px;
	padding: 20px;
	text-align: center;
}

h1 {
	font-size: 3em;
	margin-top: 0;
}

label {
	display: block;
	font-size: 1.5em;
	margin-bottom: 20px;
}

input[type=text] {
	padding: 10px;
	font-size: 1.5em;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}

.labels {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.labels label {
	font-size: 1.2em;
}

.labels span {
	font-size: 1.5em;
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start; /* change align-items to flex-start to align the form items to the left */
	margin-top: 20px;
}

.form-group {
	margin-bottom: 20px;
}

label {
	display: block;
	font-size: 1.5em;
	margin-bottom: 5px;
}

input[type=text], input[type=number] {
	padding: 10px;
	font-size: 1.2em;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}

input[type=date]{
	padding: 10px;
	font-size: 1.2em;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 2px 5px rgba(146, 16, 16, 0.25);
	width: 100%;
	max-width: 120px;
	margin: 0 auto;
	text-align: left;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button[type=submit]:hover {
	background-color: #3e8e41;
}
#shipment-data {
	float: right;
	padding: 10px;
	width: 1000px; 
	
  }
  