/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  background-image: url('https://source.unsplash.com/random?abstract');
  background-size: cover;
  background-position: center;
}
#upload-progress-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  border-radius: 5px;
  z-index: 1000;
}

.dim-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

  
.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: .5rem;
  }

  
  .top-rowright {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    margin-top: .5rem;
  }
  
  .delete-upload-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .delete-btn-container,
  .upload-btn-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .upload-btn-container {
    padding-top: 0rem; /* added this line to align them correctly */
    padding-bottom: 1.2rem;
  }
  

  #barcode {
    width: 450px;
	  height: 150px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .under-top-row-bottom {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 5.5rem;
  }
  table {
    margin-top: 0rem ;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 800px;

  }
  
  th,
  td {
    padding: 0.5rem;
    text-align: left;    
    text-align: center;
    border: 1px solid #ccc;
  }
  
  th {
    font-weight: bold;
    padding: 12px 100px;
    background-color: #f2f2f2;
  }
    
h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #333;
}

input[type="text"] {
  font-size: 1.1rem;
  padding: 0.5rem;
  width: 100%;
  max-width: 400px;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.labels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 2.5rem;
  }
  
  .label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: x-large;
  }
  
  .label-container span {
    font-size: 1.4rem;
    text-shadow: #058aff;
    font-style: oblique;
  }




label {
  font-size: 1.1rem;
  margin-right: 0.5rem;
  color: #333;
}

button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #6c757d;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #5a6268;
}

.file-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

input[type="file"] {
  font-size: 1.1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 0.5rem;
}

select {
  font-size: 1.1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 0.5rem;
}


  #success-message {
	position: fixed;
	top: 15%;
	right: 1%;
	transform: translate(-15%, -85%);
	width: 25%; /* Decreased width */
	height: 15%;
	padding: 1rem; /* Decreased padding */
	background-color: #4CAF50;
	color: white;
	text-align: center;
	font-size: 2rem;
	border-radius: 5px;
	display: none;
	z-index: 1000;
  
	/* Add these lines to center the text vertically */
	align-items: center;
	justify-content: center;
  }
  #error-message {
	position: fixed;
	top: 15%;
	right: 1%;
	transform: translate(-15%, -85%);
	width: 25%; /* Decreased width */
	height: 15%;
	padding: 1rem; /* Decreased padding */
	background-color: #ff6b81; /* Pink-red background color */
	color: white;
	text-align: center;
	font-size: 2rem;
	border-radius: 5px;
	display: none;
	z-index: 1000;
  
	/* Add these lines to center the text vertically */
	align-items: center;
	justify-content: center;
  }

  