#barcode {
	height: 80px;
  }
  


.container {
	margin: 0 auto;
	max-width: 500px;
	padding: 20px;
	text-align: center;
}

h1 {
	font-size: 3em;
	margin-top: 0;
}

label {
	display: block;
	font-size: 1.5em;
	margin-bottom: 20px;
}

input[type=text] {
	padding: 10px;
	font-size: 1.5em;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}

.labels {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.labels label {
	font-size: 1.2em;
}

.labels span {
	font-size: 1.5em; 
 }


form {
	display: flex;
	flex-direction: column;
	align-items: flex-start; /* change align-items to flex-start to align the form items to the left */
	margin-top: 20px;
}

.form-group {
	margin-bottom: 20px;
}

label {
	display: block;
	font-size: 1.5em;
	margin-bottom: 5px;
}

input[type=text], input[type=number] {
	padding: 10px;
	font-size: 1.2em;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}

input[type=date]{
	padding: 10px;
	font-size: 1.2em;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 2px 5px rgba(146, 16, 16, 0.25);
	width: 100%;
	max-width: 120px;
	margin: 0 auto;
	text-align: left;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button[type=submit]:hover {
	background-color: #3e8e41;
}
#shipment-data {
	position: fixed;
	top: 35%;
	left: 3%;
	padding: 20px;
	width: 20px; 
}

table {
	border-collapse: collapse;
	width: 60%;
	margin-top: 20px; /* add margin to separate the table from the previous elements */
}

th, td {
	text-align: left;
	padding: 12px 46px; /* increase the padding to add more space between elements */
}

th {
	background-color: #f2f2f2;
}

td {
	border-bottom: 1px solid #ddd;
	text-align: center;
}

td:first-child {
	width: 10em;
}

td:nth-child(2), 
td:nth-child(3), 
td:nth-child(4), 
td:nth-child(5) {
	width: 10em;
}

  .file-input-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 3px;
  }
  
  .file-input-container input[type="file"] {
	margin-right: 20px;
  }

  
  #total, #scanned {
	display: inline-block;
	margin: 0 10px 4px 0 !important;
  }
  #pie-chart {
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  #success-message {
	position: fixed;
	top: 22%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25%; /* Decreased width */
	height: 15%;
	padding: 1rem; /* Decreased padding */
	background-color: #4CAF50;
	color: white;
	text-align: center;
	font-size: 2rem;
	border-radius: 5px;
	display: none;
	z-index: 1000;
  
	/* Add these lines to center the text vertically */
	align-items: center;
	justify-content: center;
  }
  #error-message {
	position: fixed;
	top: 22%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25%; /* Decreased width */
	height: 15%;
	padding: 1rem; /* Decreased padding */
	background-color: #ff6b81; /* Pink-red background color */
	color: white;
	text-align: center;
	font-size: 2rem;
	border-radius: 5px;
	display: none;
	z-index: 1000;
  
	/* Add these lines to center the text vertically */
	align-items: center;
	justify-content: center;
  }
  .delete-btn-container {
	position: fixed;
	top: 50px;
	right: 110px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  }
  .upload-btn-container {
	position: fixed;
	top: 70px;
	right: 210px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  }
  .select-btn-container {
	position: fixed;
	top: 70px;
	left: 210px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  }
  
  /* Add other CSS rules as they are */
  
